<div class="container">
    <div class="row">
         <h2>Relatos aprobados</h2>
    </div>
    <div class="row">
    <div class="col-12 col-md-3 col-lg-3">

    <div class="btn-group-vertical">
            <button type="button" class="btn btn-outline-success btn-lg"><%= link_to 'Mi perfil', users_path %></button>
            <button type="button" class="btn btn-outline-success btn-lg "><%= link_to 'Editar perfil', edit_user_registration_path %></button>
            <button type="button" class="btn btn-outline-success btn-lg active">Relatos aprobados</button>
            <button type="button" class="btn btn-outline-success btn-lg">Relatos por aprobar</button>
            <button type="button" class="btn btn-outline-success btn-lg">Borrar cuenta</button>
        </div>
      </ul>
    </div>
    <div class="col-12 col-md-9 col-lg-9">
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Fecha</th>
            <th>Periodo del dia</th>
            <th>Hora publicación</th>
            <th>Active?</th>
        </tr>
    </thead>
    <tbody id="lista">
    <% @posts.each do |post| %>
        <tr>
       <tr>
    <td><%= link_to post.tag.title, tag_path(post.tag_id) %></td>
     
    <td>
        <% if post.anonymous == false %>
            <%= post.user.username %>
        <% else %>
            Anonimo
         <% end %>
    </td>
    <td><%= post.date %></td>
    <td><%= post.period_of_day %></td>
    <td><%= post.created_at %></td>
    <td><%= post.active %></td>
    <td><%= link_to 'Ver más', post_path(post) %></td>
</tr>
       </tr>
       
       <% end %>
    </tbody>
</table>

</div>
</div>