<% content_for :title, "Mi perfil" %>
<div class="container">
        <h1>Mi Perfil</h1>
    <div class="row">
    </div>
    <div class="row">
    <div class="col-12 col-md-3 col-lg-3">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-lg btn-color active"><%= link_to 'Mi perfil', users_path, class: 'link-btn'  %></button>
            <button type="button" class="btn btn-lg btn-color"><%= link_to 'Editar perfil', edit_user_registration_path, class: 'link-btn'  %></button>
            <button type="button" class="btn btn-lg btn-color"><%= link_to 'Relatos aprobados', aproved_posts_users_path, class: 'link-btn'  %></button>
            <button type="button" class="btn btn-lg btn-color"><%= link_to 'Relatos por aprobar', posts_to_aprove_users_path, class: 'link-btn'  %></button>
            <% if current_user.moderator? %>
                <button type="button" class="btn btn-lg btn-color"><%= link_to 'Para aprobacion', moderator_users_path, class: 'link-btn'  %></button>
            <% end %>
            <button type="button" class="btn btn-lg btn-color"><%= link_to 'Borrar cuenta', account_users_path, class: 'link-btn'  %></button>
        </div>
      </ul>
    </div>
    <div class="col-12 col-md-9 col-lg-9">

   <form action="">
   <label for="">Nombre de usuario:</label>
   <input type="text" value="<%= current_user.username %>" disabled> <br>
   <label for="">Nomrbes y apellidos:</label>
   <input type="text" value="<%= current_user.name%>" disabled><br>
   <label for="">Fecha de nacimiento:</label>
   
   <% if current_user.birthdate.present? %>
     <input type="text" value=" <%= current_user.birthdate.strftime('%d/%m/%Y') %>" disabled><br>
   <% else %>
    <input type="text" value=" <%= current_user.birthdate %>" disabled><br>
   <% end %>
   
   
   <label for="">Email:</label>
   <input type="text" value=" <%= current_user.email %>" disabled>
   </form>

  <%= link_to 'Editar mi perifl', edit_user_registration_path %>
      

    </div>
  </div>
</div>