<% content_for :title, "Relatos para aprobar - Moderador" %>
<div class="container">
        <h1>Relatos por aprobar</h1>
    <div class="row">
    </div>
    <div class="row">
    <div class="col-12 col-md-3 col-lg-3">
        <div class="btn-group-vertical">
            <button type="button"  class="btn btn-lg btn-color"><%= link_to 'Mi perfil', users_path, class: 'link-btn' %></button>
            <button type="button"  class="btn btn-lg btn-color"><%= link_to 'Editar perfil', edit_user_registration_path, class: 'link-btn' %></button>
            <button type="button"  class="btn btn-lg btn-color"><%= link_to 'Relatos aprobados', aproved_posts_users_path, class: 'link-btn' %></button>
            <button type="button"  class="btn btn-lg btn-color"><%= link_to 'Relatos por aprobar', posts_to_aprove_users_path, class: 'link-btn' %></button>
            
            <% if current_user.moderator? %>
                <button type="button" class="btn btn-lg btn-color active"><%= link_to 'Para aprobacion', moderator_users_path, class: 'link-btn' %></button>
            <% end %>
            
            <button type="button" class="btn btn-lg btn-color"><%= link_to 'Borrar cuenta', account_users_path, class: 'link-btn' %></button>
        </div>
      </ul>
    </div>
    <div class="col-12 col-md-9 col-lg-9">

<table id="moderador" class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Fecha creación</th>
            <th>Active?</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="lista">
        <% @posts.each do |post| %>
        <tr id="<%= post.id %>">
          <td><%= link_to post.tag.title, tag_path(post.tag_id) %></td>
     
          <td id="cambio">
           <% if post.anonymous == false %>
            <%= post.user.username %>
           <% else %>
            Anonimo
           <% end %>
                </td>
          <td><%= post.created_at.strftime('%d/%m/%Y a las %H:%M') %></td>
          <% if can? :destroy, post %>
            
            <% if current_user.moderator? %>
                <td><%= link_to 'Aprobar', moderator_aprove_post_path(post), method: :patch, data: { confirm: 'Deseas aprobar este post?', remote: true } %></td> 
            <% else %>
            <td></td>
            <% end %>
            
            <td><%= link_to 'Ver más', post_path(post) %></td>
            <td><%= link_to 'Borrar', post, method: :delete, data: { confirm: '¡Puedes dejar tu relato anonimo! ¿Seguro quieres borrar el relato?', remote: true } %></td>
          <% end %>
        </tr>
       
       <% end %>
    </tbody>
</table>

    </div>
  </div>
</div>

<script>
$(document).on("turbolinks:load",function() {
    $('#moderador').dataTable({
      
    });
} );
</script>