<div class="container">
    <div class="row">
         <h2>Relatos por aprobador</h2>
    </div>
    <div class="row">
    <div class="col-12 col-md-3 col-lg-3">

    <div class="btn-group-vertical">
            <button type="button" class="btn btn-outline-success btn-lg"><%= link_to 'Mi perfil', users_path %></button>
            <button type="button" class="btn btn-outline-success btn-lg "><%= link_to 'Editar perfil', edit_user_registration_path %></button>
            <button type="button" class="btn btn-outline-success btn-lg"><%= link_to 'Relatos aprobados', aproved_posts_users_path %></button>
            <button type="button" class="btn btn-outline-success btn-lg active"><%= link_to 'Relatos por aprobar', posts_to_aprove_users_path %></button>
            <button type="button" class="btn btn-outline-success btn-lg">Borrar cuenta</button>
        </div>
      </ul>
    </div>
    <div class="col-12 col-md-9 col-lg-9">
<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Fecha creación</th>
            <th>Active?</th>
            <th>Anonymous</th>
        </tr>
    </thead>
    <tbody id="lista">
        <% @posts.each do |post| %>
        <tr id="<%= post.id %>">
          <td><%= link_to post.tag.title, tag_path(post.tag_id) %></td>
     
          <td id="cambio">
           <% if post.anonymous == false %>
            <%= post.user.username %>
           <% else %>
            Anonimo
           <% end %>
                </td>
          <td><%= post.created_at %></td>
          <td><%= post.active %></td>
          <td><%= link_to 'Ver más', post_path(post) %></td>
          <td><%= link_to 'Borrar', post, method: :delete, data: { confirm: '¡Puedes dejar tu relato anonimo! ¿Seguro quieres borrar el relato?', remote: true } %></td>
        </tr>
       
       <% end %>
    </tbody>
</table>

</div>
</div>