<nav class="nab-zindex navbar navbar-expand-lg  navbar-light">
  <a class="navbar-brand" href="#"> <img src="<%= asset_path "logo.png"%>" class="favicon2"alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="<%= map_posts_path %>">Mapa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= posts_path %>">Relatos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= tags_path %>">Informaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= abouts_home_path %>">Sobre nosotros</a>
      </li>
    </ul>
<ul class="navbar-nav ml-auto">
    <% if signed_in? %>
    <li class="nab-zindex nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hola 
          <% if current_user.username == nil %>
            <%= current_user.email %>!
          <% else %>
            <%= current_user.username %>!
          <% end %>
          
        </a>
        <div class="nab-zindex dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="<%= users_path %>">Mi perfil</a>
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>        
        </div>
      </li>
    
    <% else %>
    <li class="nav-item">
        <%= link_to "Iniciar sesión", new_user_session_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
        <%= link_to "Regístrate", new_user_registration_path, class: 'nav-link' %>
    </li>
    <% end %>

    </ul>
  </div>
</nav>