<% if user_signed_in? %>
<%= form_with(model:[post, comment]) do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <br>
    <%= f.label :anonymous %>
    <%= f.check_box :anonymous %>
    <br>
    <%= f.submit %>
<% end %>
<% else %>
<% end %>


<ul id="post_comments_list">
<% post.comments.each do |c| %>
<li><%= c.content %> - 

<% if c.anonymous == 1 %>
Anonimo - 
<% else %>
<%= c.user.username %> - 
<% end %>
<%= c.created_at %></li>

<% end %>

</ul>