<p>Antes de compartir tu relato, lea abajo:</p>
<ul>
<% if user_signed_in? %>
<li>Tu relato puede ser anónimo, solo debes recordar seleccionar la opción antes de enviar,</li>
<% else %>
<% end %>
<li>Los campos con (*) son obligatorios,</li>
<li>Al describir tu relato, evite utilizar nombres proprios de personas, esto hace con que tu relato sea más dificil de ser aprobado,</li>
<li>Los relatos pasaran por la aprobación del moderador.</li>
</ul>

<%= form_with(model: post) do |f| %>
<div class="row">
<div class="col-12 col-md-6 col-lg-6">
<div class="form-group">
<%= f.label :tag_id, 'Tipo de crimen de odio*:' %>
<%= f.select :tag_id, @title_tag_select, prompt: "Seleccione un tipo de crimen de odio", class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :birth, 'Fecha del suceso*:' %>
<%= f.date_field :date, min: "2017-01-01", max: @date_today %>
</div>
<div class="form-group">
<%= f.label :period_of_day, 'Periodo del día*:' %>
<%= f.select :period_of_day, options_for_select(@period_for_select), prompt: "Seleccione un periodo"%>
</div>
<div class="form-group">
<%= f.label :age, 'Edad aproximada de la victima:' %>
<%= f.number_field :age, {min:"0", max:"100"} %>
</div>
</div>

<div class="col-12 col-md-6 col-lg-6">
<div class="form-group">
<%= f.label :name, 'Nombre de la victima:' %>
<%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
<%= f.label :content, 'Describe tu relato*:' %>
<br>
<%= f.text_area :content, class: "comment-text-area form-control"  %>
</div>
</div>
</div>


<div class="form-group">
    <%= f.label :address, 'Dirección del ocurrido*:' %>
    <p>Mientras más precisa sea la dirección del suceso, más facil es la localización en el mapa.</p>
    <div class="row">
      <div class="col-md-10">
        <%= f.text_field :address, class: 'form-control', id: "address_location", placeholder:'Ej: Avendia Providencia, 1234, Providencia'%>
      </div>
      <div class="col-md-2">
        <%= link_to "#", class:"btn btn-primary", id: "get_location" do %>
        <i class="fa fa-map-marker"> </i>
      <% end %>
      </div>
    </div>
 </div>
<%# <div class="container"><div id="map" style='width: 100%; height: 400px;'></div></div> %>
<div class="row center">
  <div class="col-12 col-md-12 col-lg-12">
    <div class="form-check">
      <% if user_signed_in? %>
          <%= f.check_box :anonymous, class: 'form-check-input' %>
          <%= f.label :anonymous, 'Relato anónimo', class: 'form-check-label' %>
      <% else %>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-md-12 col-lg-12">
    <%= f.submit 'Crear relato', class: "btn btn-success" %>
  </div>
<% end %>
<script>

// var map = new google.maps.Map(document.getElementById("map"), {
//   center: new google.maps.LatLng(-33.4372, -70.6506),
//   zoom: 14,
//   streetViewControl: false,
//   mapTypeId: google.maps.MapTypeId.ROADMAP
// });

//   var marker = new google.maps.Marker({
//     position:{
//       lat: -33.4372,
//       lng: -70.6506
      
//     },
//     map: map,
//     draggable: true,
//   });


//   var searchBox = new google.maps.places.SearchBox(document.getElementById('address_location'));

//   google.maps.event.addListener(searchBox, 'places_changed', function(){

//     var places = searchBox.getPlaces();

//     var bounds = new google.maps.LatLngBounds();
//     var i, place;

//     for(i=0; place=places[i];i++){
      
//       // console.log(place.geometry.location)
//       bounds.extend(place.geometry.location);
//       marker.setPosition(place.geometry.location);
//     }
//     map.fitBounds(bounds);
//     map.setZoom(15);
//   });



</script>

<script>
$("#get_location").on('click', function(event){ //lo que pasa cuando el boton es pinchado
        event.preventDefault();
    $(this).html('<i class="fa fa-spinner fa-spin"> </i>')
    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(getAddress);
    } else {
        $('body').append("Geolocation is not supported by this browser.");
    }
})

    function getAddress(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        $.ajax({
            url: '<%= locations_find_address_path %>',
            type: 'GET',
            dataType: 'json',
            data: {latitude: latitude, longitude: longitude}
        })
        .done(function(data) {
        $('#address_location').val(data.address) //esto captura el valor de la funcion
        })
        .always(function(data){
          $("#get_location").html('<i class="fa fa-map-marker"></i>') //esto cambia el boton
        })
    };

</script>