<h1>
RELATOS
</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
       
        <% @posts.each do |post| %>
         <tr>
            <td><%= post.tag.title %></td>
            <td><%= post.user.username %></td>
            <td><%= post.period_of_day %></td>
            <td><%= link_to 'Show', post_path(post) %></td>
            <td><%= link_to 'Delete', post, method: :delete%></td>
        </tr>
        <% end %>
    </tbody>
</table>

