<h1>SHOW</h1>

<p><%= @post.tag.title %></p>
<p><%= @post.content %></p>
<p><%= @post.date %></p>
<p><%= @post.period_of_day %></p>
<p><%= @post.address %></p>
<p>
    <% if @post.anonymous == false %>
        <%= @post.user.username %>
    <% else %>
        Anonimo
    <% end %>

</p>
<br>
<%= link_to 'Volver', posts_path %>