<h1>SHOW</h1><%= link_to 'Volver', posts_path %>

<p><%= @post.tag.title %></p>
<p><%= @post.content %></p>
<p><%= @post.date %></p>
<p><%= @post.period_of_day %></p>
<p><%= @post.address %></p>
<p>
    <% if @post.anonymous == false %>
        <%= @post.user.username %>
    <% else %>
        Anonimo
    <% end %>

</p>
<br>
<div style='width: 800px;'>
 <div id="map" style='width: 400px; height: 400px;'></div>
</div>
<br>

<%= render 'comments_posts', post:@post, comment: @comment %>

<script>
handler = Gmaps.build('Google');
handler.buildMap({
 provider: {
 center: new google.maps.LatLng({lat: <%= @post.latitude %>, lng: <%= @post.longitude %>}),
 zoom: 5,
 disableDefaultUI: true,
 draggable: false, 
 zoomControl: false, 
 scrollwheel: false, 
 disableDoubleClickZoom: true
 },
 internal: {
 id: 'map'
 }
 },
 function(){
 markers = handler.addMarkers(<%=raw @hash.to_json %>);
 }
);
handler.getMap().setZoom(16)
</script>

