<% content_for :title, "Relato: #{@post.tag.title}" %>
<br>
<div class="container">
<div class="row no-gutters">
<div class="col-12 col-sm-6 col-md-8">
<h2 class="showh2"><%= @post.tag.title %></h2>
<p class="showp ">Data del suceso: <%= @post.date.strftime('%d/%m/%Y') %> | Periodo del dia: <%= @post.period_of_day %></p>
<hr class="hr-all">
<p class="showp1">Victima:
<% if @post.name.present? %>
        <%= @post.name %>
    <% else %>
        No identificada
    <% end %>, <%= @post.age %> años aproximadamente.

</p>
<p class="showp">

<%= @post.content %></p>
<p class="author-post">
    <% if @post.anonymous == false %>
        <%= @post.user.username %>
    <% else %>
        Anónimo
    <% end %>

</p>
<hr class="hr-all">

<p class="showp">Dirección del ocurrido: <%= @post.address %></p>

 <div id="map_show"></div>
</div>


<br>
<div class="col-6 col-md-6 col-lg-4 boder-comments">
<div class="container">
<%= render 'comments_posts', post:@post, comment: @comment %>
</div>
</div>
</div>
<br>
<script>
handler = Gmaps.build('Google');
handler.buildMap({
 provider: {
 center: new google.maps.LatLng({lat: <%= @post.latitude %>, lng: <%= @post.longitude %>}),
 zoom: 5,
 disableDefaultUI: true,
 draggable: false, 
 zoomControl: false, 
 scrollwheel: false, 
 disableDoubleClickZoom: true
 },
 internal: {
 id: 'map_show'
 }
 },
 function(){
 markers = handler.addMarkers(<%=raw @hash.to_json %>);
 }
);

handler.getMap().setZoom(16)
</script>

